* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}


.navbar-logo {
    margin: 10px;


}

.navbar-search input {
    padding: 8px;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.navbar-right .location {
    margin-right: 15px;
    color: #333;
}

.signin-button {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
}